@model DnDHelper.Models.Character

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CharacterDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Race)
        </dt>

        <dd>
            @((DnDHelper.Enums.Race)int.Parse(Html.DisplayFor(model => model.Race).ToString()))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @((DnDHelper.Enums.Class)int.Parse(Html.DisplayFor(model => model.Class).ToString()))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProficiencyBonus)
        </dt>

        <dd>
            +@Html.DisplayFor(model =>  model.ProficiencyBonus)
        </dd>    
    </dl>
    <div id="stat-table">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Strength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dexterity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Constitution)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Intelligence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wisdom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Charisma)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Strength)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Dexterity)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Constitution)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Intelligence)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Wisdom)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Charisma)
                </td>
            </tr>
        </table>
    </div>    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
